<div class="row featurette">
  <div class="col-md-6">
    <div class="form-group">
      <%= simple_form_for @person do |f| %>
        <%= @person.position == "t" ? @person.name + " 老師" : @person.name + " 助教/秘書" %>
        <br><br>
        <%= f.input :attend, as: :radio_buttons, label: "是否出席？" %><br>
        <%= f.input :ldap, label: "請輸入您的LDAP帳號以供我們驗證", :input_html => {value: ""} %><br>
        <%= f.submit "提交", :class => "btn btn-primary"  %>          
      <% end %>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-3">
    <%= image_tag "browser.png"%>
  </div>
</div><br>