<% count = 0 %>
<div>
  <%= link_to("Initial", new_person_path, :class => "btn btn-mini")%>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image ID</th>
        <th>LDAP</th>
        <th>Name</th>
        <th>Position</th>
        <th>attend?</th>
        </tr>
    </thead>
    <tbody>
      <% @people.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.imgId %></td>
        <td><%= p.ldap %></td>
        <td><%= p.name %></td>
        <td><%= p.position=="t" ? "老師" : "助教/秘書" %></td>
        <td><%= p.attend.to_s %></td>
        <!-- <td> 
          <%= link_to("Delete", person_path(p), :class => "btn btn-mini", :method => :delete, :confirm => "Are you sure?" )%>
        </td> -->
      </tr>
        <% if p.attend == true %>
          <% count += 1 %>
        <% end %><!-- if -->  
      <% end %><!-- each --> 
      <tr>
        <td>出席總人數</td>
        <td>--</td>
        <td>--</td>
        <td>--</td> 
        <td>--</td> 
        <td><%= count %>人</td>
      </tr>
    </tbody>
  </table>
</div>