<div class="jumbotron">
  <h1>Jumbotron heading</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<div class="row featurette">
  <div class="col-md-6">
    <div class="form-group">
      <%= simple_form_for @person do |f| %>
        <%= f.input :name, label: "姓名", placeholder: "name", :input_html => {:class =>"form-control"} %>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-6"></div>

  <div class="col-md-5">
    <div class="form-group">
        <%= f.input :attend, as: :radio_buttons, label: "是否出席？" %>
    </div>
    <div class="form-group">
        <%= f.button :submit, "提交", :class => "btn btn-primary"  %>
      <% end %>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-4">
    <%= image_tag "graph.png"%>
  </div>
</div>