<main role="main">
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="<%= is_active('people') %>"><%= link_to("Home", root_path) %></li>
        <li class="<%= is_active('location') %>"><%= link_to("Location", location_path) %></li>
        <li class="<%= is_active('contact') %>"><%= link_to("Contact", contact_path) %></li>
      </ul>
      <h3 class="text-muted">第三十屆輔仁資管謝師宴邀請函</h3>
    </div>

    <%= yield %>
    
    <div class="footer">
      <p>&copy; FJU Information Management 2014.</p>
      <p>Created and Designed by Tony & Alven.</p><br>
    </div>

  </div>
</main>